body {
  width: 700px;
  margin: 0 auto;
  max-width: 650px;
  display: block
}

.quiz-title {
  font-size: 22px;
  line-height: 27px;
  font-weight: 700;
  padding: 2%;
  color: #161616;
}

.question_question {
  font-size: 19px;
  padding: 2%;
  line-height: 20px;
  font-weight: 600;
  position: relative;
  display: block;
  margin-bottom: 1em;
}

.question_question:before {
  content: '';
  position: absolute;
  left: 0%;
  bottom: -5px;
  /*線の上下位置*/
  display: block;
  width: 120px;
  /*線の長さ*/
  height: 2px;
  /*線の太さ*/
  transform: translateX(0%);
  /*位置調整*/
  background-color: #04AB36;
  /*線の色*/
  border-radius: 2px;
  /*線の丸み*/
}

.li {
  display: block;
  border: 1px solid #ebebeb;
  padding: 13px;
  margin: 10px 0;
  font-weight: 600;
  cursor: pointer;
  box-shadow: 0 3px 2px -2px rgb(0 0 0 / 13%);
  -webkit-box-shadow: 0 3px 2px -2px rgb(0 0 0 / 13%);
  -moz-box-shadow: 0 3px 2px -2px rgba(0, 0, 0, .13);
}

.answer_box {
  width: 650px;
  height: 96px;
  background-color: lightgray;
  padding: 17px;
  margin-top: 50px;
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
  box-shadow: 0 3px 2px -2px rgb(0 0 0 / 13%);
  -webkit-box-shadow: 0 3px 2px -2px rgb(0 0 0 / 13%);
  -moz-box-shadow: 0 3px 2px -2px rgba(0, 0, 0, .13);
  display: none;
}

.q_answer {
  font-size: 16px;
  line-height: 20px;
  font-weight: 600;
  padding-bottom: 3px;
  margin-bottom: 10px;
  display: inline-block;
}

.q_true {
  width: 50px;
  font-size: 16px;
  line-height: 20px;
  font-weight: 600;
  padding-bottom: 3px;
  margin-bottom: 10px;
  display: inline-block;
  border-bottom: 3px solid #297CFF;
}


.q_false {
  width: 70px;
  font-size: 16px;
  line-height: 20px;
  font-weight: 600;
  padding-bottom: 3px;
  margin-bottom: 10px;
  display: inline-block;
  border-bottom: 3px solid #ff5128;
}

.after{
  pointer-events: none;
}